@import url('https://fonts.googleapis.com/css?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(72, 72, 146);
    width: 100%;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
}

.profile-card {
    background-color: white;
    border-radius: 7px;
    padding: 13px 13px 51px 13px;
    margin: 5px 22px 0 13px;
    font-family: 'Raleway';
}

h2 {
    color: rgb(230, 230, 230);
}

.profile-card h3 {
    text-align: center;
    padding: 40px 0 0 0;
}

.habilidades {
    display: flex;
    padding: 20px 0 0 0;
}

.habilidades p {
    text-align: center;
}

mark {
    background-color: rgba(121, 212, 121, 0.336);
}

.tecnico,
.globo,
.outros {
    padding: 0 0 0 50px;
    margin: 0;
}

 .linktree {
    background-color: white;
    border-radius: 7px;
    padding: 15px;
    margin: 5px 12px 0 0;
    height: 93vh;
}

.foto {
    border-radius: 50%;
    padding: 2px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(35, 112, 35, 0.966);
}

.linktree h3 {
    text-align: center;
}

.linktree a {
    display: flex;
}

.foto {
    border-radius: 50%;
    padding: 2px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(35, 112, 35, 0.966);
}

.linktree h3 {
    text-align: center;
}

.linktree a {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 40px;
    border-radius: 20px;
    background-color: rgb(78, 139, 78);
    box-shadow: 0px 0px 10px rgba(35, 112, 35, 0.966);
    transition: transform 0.3s ease;
}

.linktree a:hover {
transform: scale(1.1)
}
